<%- include('./includes/head.ejs') -%>
</head>

<body>
  <header class="main-header">
    <%- include('./includes/navigation.ejs') -%>
  </header>
  <main>
    <h1>404. Page not found.</h1>
  </main>
<%- include('./includes/end.ejs') -%>