<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title #{docTitle}
    link(rel="stylesheet", href="/css/main.css")
  body
    header.main-header
      nav.main-header__nav
        ul.main-header__item-list
          li.main-header__item
            a.active(href="/") Shop
          li.main-header__item
            a(href="/admin/add-product") Add Product
    
    main
      if prods.length > 0
        .grid
          each prod in prods
            article.card.product-item
              header.card__header
                h1.product__title #{prod.title}
              .card__image
                img(src="https://images.unsplash.com/photo-1496347646636-ea47f7d6b37b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80", alt="Dummy Alt Text")
              .card__content
                h2.product__price $19.99
                p.product__description Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus debitis nesciunt sed assumenda laboriosam asperiores rerum dolor quo. Ipsa impedit delectus ratione, ab consequatur odio aspernatur dolorum vero officiis velit.
              .card__actions
                button.btn Add to Cart
      else 
        h1 There are no products