<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= docTitle %></title>
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  <header class="main-header">
    <nav class="main-header__nav">
      <ul class="main-header__item-list">
        <li class="main-header__item">
          <a class="active" href=" / ">Shop</a>
        </li>
        <li class="main-header__item">
          <a href="/admin/add-product">Add Product</a>
        </li>
      </ul>
    </nav>
  </header>

  <main>
    <% if (prods.length > 0) { %>
      <div class="grid">
        <% prods.forEach(prod => { %>
          <article class="card product-item">
            <header class="card__header">
              <h1 class="product__title"><%= prod.title %></h1>
            </header>
            <img class="card__image" src="https://images.unsplash.com/photo-1496347646636-ea47f7d6b37b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="Dummy Alt Text">
            <div class="card__content">
              <h2 class="product__price">$19.99</h2>
              <p class="product__description">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus debitis nesciunt sed assumenda laboriosam asperiores rerum dolor quo. Ipsa impedit delectus ratione, ab consequatur odio aspernatur dolorum vero officiis velit.
              </p>
            </div>
            <div class="card__actions">
              <button class="btn">Add to Cart</button>
            </div>
          </article>
        <% }) %>
      </div>
    <% } else { %>
      <h1>There are no Products.</h1>
    <% } %>
  </main>
</body>

</html>